<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-modeoperationenum-heading" jhiTranslate="transaction2App.modeoperationenum.home.createOrEditLabel">Create or edit a Modeoperationenum</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="transaction2App.modeoperationenum.automatique" for="field_automatique">Automatique</label>
                    <input type="text" class="form-control" name="automatique" id="field_automatique"
                           formControlName="automatique"/>
                    <div *ngIf="editForm.get('automatique')!.invalid && (editForm.get('automatique')!.dirty || editForm.get('automatique')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('automatique')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 254 }">
                        This field cannot be longer than 254 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="transaction2App.modeoperationenum.manuel" for="field_manuel">Manuel</label>
                    <input type="text" class="form-control" name="manuel" id="field_manuel"
                           formControlName="manuel"/>
                    <div *ngIf="editForm.get('manuel')!.invalid && (editForm.get('manuel')!.dirty || editForm.get('manuel')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('manuel')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 254 }">
                        This field cannot be longer than 254 characters.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
