<div>
    <h2 id="page-heading">
        <span jhiTranslate="transaction2App.typeterminalenum.home.title">Typeterminalenums</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-typeterminalenum" [routerLink]="['/typeterminalenum/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="transaction2App.typeterminalenum.home.createLabel">
            Create a new Typeterminalenum
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="typeterminalenums?.length === 0">
        <span jhiTranslate="transaction2App.typeterminalenum.home.notFound">No typeterminalenums found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="typeterminalenums && typeterminalenums.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="t2020"><span jhiTranslate="transaction2App.typeterminalenum.t2020">T 2020</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="t2030"><span jhiTranslate="transaction2App.typeterminalenum.t2030">T 2030</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="b2062"><span jhiTranslate="transaction2App.typeterminalenum.b2062">B 2062</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pda"><span jhiTranslate="transaction2App.typeterminalenum.pda">Pda</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let typeterminalenum of typeterminalenums ;trackBy: trackId">
                    <td><a [routerLink]="['/typeterminalenum', typeterminalenum.id, 'view']">{{ typeterminalenum.id }}</a></td>
                    <td>{{ typeterminalenum.t2020 }}</td>
                    <td>{{ typeterminalenum.t2030 }}</td>
                    <td>{{ typeterminalenum.b2062 }}</td>
                    <td>{{ typeterminalenum.pda }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/typeterminalenum', typeterminalenum.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/typeterminalenum', typeterminalenum.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(typeterminalenum)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="typeterminalenums && typeterminalenums.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
