<div>
    <h2 id="page-heading">
        <span jhiTranslate="transaction2App.typeannulationenum.home.title">Typeannulationenums</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-typeannulationenum" [routerLink]="['/typeannulationenum/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="transaction2App.typeannulationenum.home.createLabel">
            Create a new Typeannulationenum
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="typeannulationenums?.length === 0">
        <span jhiTranslate="transaction2App.typeannulationenum.home.notFound">No typeannulationenums found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="typeannulationenums && typeannulationenums.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="client"><span jhiTranslate="transaction2App.typeannulationenum.client">Client</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="machine"><span jhiTranslate="transaction2App.typeannulationenum.machine">Machine</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="exceptionnelle"><span jhiTranslate="transaction2App.typeannulationenum.exceptionnelle">Exceptionnelle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="systeme"><span jhiTranslate="transaction2App.typeannulationenum.systeme">Systeme</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let typeannulationenum of typeannulationenums ;trackBy: trackId">
                    <td><a [routerLink]="['/typeannulationenum', typeannulationenum.id, 'view']">{{ typeannulationenum.id }}</a></td>
                    <td>{{ typeannulationenum.client }}</td>
                    <td>{{ typeannulationenum.machine }}</td>
                    <td>{{ typeannulationenum.exceptionnelle }}</td>
                    <td>{{ typeannulationenum.systeme }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/typeannulationenum', typeannulationenum.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/typeannulationenum', typeannulationenum.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(typeannulationenum)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="typeannulationenums && typeannulationenums.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
