<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typecanalenum">
            <h2><span jhiTranslate="transaction2App.typecanalenum.detail.title">Typecanalenum</span> {{ typecanalenum.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="transaction2App.typecanalenum.terminal">Terminal</span></dt>
                <dd>
                    <span>{{ typecanalenum.terminal }}</span>
                </dd>
                <dt><span jhiTranslate="transaction2App.typecanalenum.online">Online</span></dt>
                <dd>
                    <span>{{ typecanalenum.online }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/typecanalenum', typecanalenum.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
