<div>
    <h2 id="page-heading">
        <span jhiTranslate="transaction2App.typecanalenum.home.title">Typecanalenums</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-typecanalenum" [routerLink]="['/typecanalenum/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="transaction2App.typecanalenum.home.createLabel">
            Create a new Typecanalenum
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="typecanalenums?.length === 0">
        <span jhiTranslate="transaction2App.typecanalenum.home.notFound">No typecanalenums found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="typecanalenums && typecanalenums.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="terminal"><span jhiTranslate="transaction2App.typecanalenum.terminal">Terminal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="online"><span jhiTranslate="transaction2App.typecanalenum.online">Online</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let typecanalenum of typecanalenums ;trackBy: trackId">
                    <td><a [routerLink]="['/typecanalenum', typecanalenum.id, 'view']">{{ typecanalenum.id }}</a></td>
                    <td>{{ typecanalenum.terminal }}</td>
                    <td>{{ typecanalenum.online }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/typecanalenum', typecanalenum.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/typecanalenum', typecanalenum.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(typecanalenum)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="typecanalenums && typecanalenums.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
